CompileFlags:
  Add: [
    -Wall,
    -Wextra,
    -Wno-unused-parameter,
    -std=c23
  ]

Diagnostics:
  ClangTidy:
    Add: [
      bugprone-*,
      performance-*,
      portability-*,
      clang-analyzer-*,
    ]
    Remove: [
      bugprone-easily-swappable-parameters
    ]